@mixin badge($background: var(--color-highlight), $size: 0.75rem) {
  padding: 2px 4px !important;
  border-radius: var(--border-radius);
  background: $background;
  color: #fff;
  font-size: $size;
}

@mixin inset {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px rgba(165,42,42,0.3) inset;
}
